.widgetSm{
    flex: 1;
    -webkit-box-shadow: 14px 19px 18px 6px #000000; 
    box-shadow: 14px 19px 18px 6px #000000;
    padding: 20px;
}

.widgetSmTitle{
    font-size: 20px;
    font-weight: 600;
}

.widgetSmList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.widgetSmListItem{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 20px 0px;
}

.widgetSmUser{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.widgetSmUserName{
    font-weight: 600;
}

.widgetSmUserTitle{
    font-weight: 300;
    color: #555;
}

.widgetSmButton{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: darkolivegreen;
    color: rgb(190, 184, 184);
    cursor: pointer;
}

.widgetSmIcon{
    font-size: 16px;
    margin-right: 5px;
}